<div class="login">
  <div class="login-box">
    {{!-- <h2>Login</h2> --}}

      <form action="/auth/login" method="POST" id="form-container">
      <div class="username">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Your username">
      </div>
      
        <br><br>

      <div class="password">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Your password">
      </div>
        <br>
        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <br><br>

        <div class="emphasis">
          <button class="login-btn">Login</button>

          <p class="account-message">
              Don't have an account yet? <br><br>
              <a href="/auth/signup">Sign up</a>
          </p>
        </div>
        
      </form>
    <div class="social-login">
      <div class="fb-login">
        <img src="/images/fb2.png" alt="">
        <a class="fb-btn" href="/auth/facebook">Sign up via Facebook</a>
      </div>
      <div class="gmail-login">
        <img src="/images/gmail.png" alt="">
        <a class="fb-btn" href="">Sign up via Gmail</a>
      </div>
    </div>
  </div>
  
  
</div>
