<div class="main-nav">
  <a href="/session/home"><img src="../images/heart3.png" alt="Home"></a>
  <a href="/session/peers"><img src="../images/peers2.png" alt="Peers"></a>
  <a href="/session/featured"><img src="../images/new2.png" alt="Featured"></a>
  <a href="/session/blog"><img src="../images/blog2.png" alt="Blog"></a>
</div>

