{{!---------------------------- Filter by Interest ----------------------------------}}

<div class="main-nav">
  <a href="/session/home"><img src="../images/yourInterests.png" alt="Home"></a>
  <a href="/session/peers"><img src="../images/peers.png" alt="Peers"></a>
  <a href="/session/featured"><img src="../images/new.png" alt="Featured"></a>
  <a href="/session/blog"><img src="../images/blog.png" alt="Blog"></a>
</div>

  <div class="main-content-wrapper">
      {{#each user.interests}}
        {{> mainPartial}}
      {{/each}}
  </div>
  <h2 class = "video-header" >Watching</h2>
  <div class="video-content-wrapper">
      {{#each user.interests}}
        {{> youtubePartial}}
      {{/each}}
  </div>
  <h2 class = "reading-header" >Reading</h2>
  <div class="reading-content-wrapper">
      {{!-- {{#each user.interests}}
        {{> readingPartial}}
      {{/each}} --}}
  </div>

</div>
