<img src="{{user.profilePicture}}" width="70px" alt="">
<h2>{{user.fullName}}</h2>

<a href="/session/home">Home</a>
<a href="/session/peers">Liked by peers</a>
<a href="/session/featured">Featured</a>
<a href="/session/blog">Blog</a>



<h3>Feed filtered by my own interests</h3>
<p>( here comes the feed filtered by pref: {{user.interests}} )</p>