<img src="{{user.profilePicture}}" width="70px" alt="">
<h2>{{user.fullName}}</h2>

<a href="/session/home">Home</a>
<a href="/session/peers">Liked by peers</a>
<a href="/session/featured">Featured</a>
<a href="/session/blog">Blog</a>
{{!-- {{/if}} --}}
<h3>Feed filtered by my peers interests</h3>
<p>( here comes the feed filtered by my peers pref ordered by most shared interests )</p>

<h3>They share the same interests :</h3>

{{#if sameInterestUsers}}
{{#each sameInterestUsers}}

<li>{{this.fullName}}</li>

{{/each}}
{{/if}}