<div class="parent-div">

    <div class="profile">

        <div class="profile-overview">
            <div id="pr-img">
                <img src="{{user.profilePicture}}" alt="">
            </div>
            <p>{{user.firstName}}</p>
        </div>

        <div class="tags-interests">
            <p class="tag-title fancy"><span>My interests</span></p>
            <div class="in-wrapper">
                {{#each user.interests}}
                <span class="tag-interest">
                    <a href="/session/profile/deleteInterest/{{this}}">{{this}}</a>
                </span>
                {{/each}}
            </div>
        </div>

        <div class="add-interest">
            <p class="tag-title fancy"><span>Add interest</span></p>
            <form action="/session/profile" method="post" id="input-new-interests">
                <label for=" interest"></label>
                <img src="/images/plus.png" alt="">
                <input type="text" name="interest">
            </form>
        </div>
        
        <a class="log-btn" href="/logout">Logout</a>
        <a class="delete-btn" href="">Delete account</a>

    </div>

   
</div>


{{!-- //----------// --}}


