<p><b>Your firstName :</b> {{user.firstName}}</p>

<img src="{{user.profilePicture}}" alt="">

<div class="tags-interests">
    <p><b>My interests :</b></p>
    {{#each user.interests}}
    <span class="tag-interest">
        <a href="/session/profile/deleteInterest/{{this}}">{{this}}</a>
    </span>
    {{/each}}
</div>

<form action="/session/profile" method="post" id="input-new-interests">
    <label for=" interest">Add interests tags :</label>
    <input type="text" name="interest">
</form>

{{!-- //----------// --}}


<style>
    .tag-interest {
        padding: 6px;
        border-radius: 5px;
        margin: 5px;
        border: solid 1px gray
    }

    .tag-interest a {
        text-decoration: none;
        color: gray;
    }

    .tag-interest:hover,
    .tag-interest a:hover {
        text-decoration: none;
        color: #fff;
        background-color: rgb(255, 74, 74);
        border: none
    }
</style>