{{!-- POST result for filter to -> home --}}
<div class="parent-div">
  <div class="search-wrapper">
    <div class="search-input">
      <input type="text" name="search" id="search">
      <img src="/images/searchbar.png" alt="Click here to search">
    </div>
  </div>
</div>
