<div class="listening-content">
  <div class="listening-play-btn"> 
    <img src="/images/play.png" alt="play">
  </div>
  <img src="/images/podcast.jpg" alt="podcast-img">
  <h5>Podcast Summary - the best podcasts channels for Developers</h5>
  <p class="publisher-link"><a href="/not-found">Listen...</a></p>
</div>