<div class="interest-container">
    <div id="interest-header">
      <h2 class="interests-header">{{users.interests}}</h2>
      <a href="">
      {{!-- whole div is linked to personal development --}}
        <div class="content-container" onclick="">
            <div class="content-image">
              <img src="" alt="">
            </div>
            <div class="content-description">
              <h5>Title of PD</h5>
              <p>Description of PD</p>
            </div>
        </div>
      </a>
    </div>
</div>
