<div class="interest-container">
    <div id="interest-header">
      <h2 class="interests-header">{{this.interests}}</h2>
      <a href="">
      {{!-- whole div is linked to personal development --}}
        <div class="content-container" onclick="">
            <div class="content-image">
              <img src="https://images.unsplash.com/photo-1562574399-f81c5c880002?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="">
            </div>
            <div class="content-description">
              <h5>Title of PD</h5>
              <p>Description of PD</p>
            </div>
        </div>
      </a>
    </div>
</div>

