<div class="content-video" onclick="">
    {{!-- <div id="player"></div> --}}
    <div class="content-description">
      <h5>{{title}}</h5>
      {{!-- <p>Description of Video</p> --}}
    </div>
    <iframe id="player" type="text/html" width="640" height="360" 
      {{!-- src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com" --}}
      src="https://www.youtube.com/embed/{{videoId}}"
      frameborder="0">
    </iframe>
</div>

