{{!-- <div class="nav-start-header">
  <nav>
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/logout">Logout</a>
  </nav>
</div> --}}

<h1>Error!</h1>
<h2>There was an error on the server! Check the console!</h2>