<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  {{#unless user}}
  <div class="nav-start-header">
    <div class="dropdown">
          <button class="dropbtn"><img src='/images/panthera2.png' alt="Panthera Logo" class="logo"></button>
          <div class="dropdown-content">
            <nav>
              <a href="/auth/login">Login</a>
              <a href="/auth/signup">Signup</a>
              <a href="/auth/logout">Logout</a>
            </nav>
          </div>
      </div>
    <h1>Panthera</h1>
  </div>
  {{/unless}}

  {{#if user}}
  <div id="sticky-header">
    <div class="logo">
      <h1 class="panthera">Panthera</h1>
    </div>
  </div>
  {{/if}}

  <div class="page-content">
    {{{body}}}
  </div>

  {{#if user}}
  <div id="sticky-footer">
    <a href="/session/home"><img src="/images/home.png" alt="Home"></a>
    <a href="/session/search"><img src="/images/search.png" alt="Search"></a>
    <a href="/session/profile"><img src="{{user.profilePicture}}" alt="Profile" class="profilePicture"></a>
  </div>
  {{!-- <a href="/auth/logout">Log out</a> --}}
  {{/if}}

  <script src="/javascripts/script.js"></script>
</body>

</html>