/* ==========================================================================
                                General Styling
============================================================================= */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:300,400,500,700&display=swap');

/* ======================= Color Scheme =========================== */
$colors: (
  almostWhite: #fafafa,
  shaddowWhite: #f5f5f5,
  primary: #1de9b6,
  blue: #00e5ff,
  red: #ff1744,
  purple: #651fff,
  midblue: #2979ff,
  cyan: #00e5ff,
  green: #76ff03,
  coraldark: #f44336,
  yellow: #ffff00,
);

$colorGreen: (
  light: #6effe8,
  primary: #1de9b6,
  dark: #00b686,
);

$colorRed: (
  primary: #ff3d00,
  light: #ff7539,
  dark: #c30000,
);

$colorBlue2: (
  primary: #18ffff,
  light: #76ffff,
  dark: #00cbcc,
);

$colorCoral: (
  primary: #ff5252,
  light: #ff867f,
  dark: #c50e29,
);

$colorBlue: (
  primary: #00b0ff,
  light: #69e2ff,
  dark: #0081cb,
);

$colorPanthera: (
  primary: #26c6da,
  light: #6ff9ff,
  dark: #0095a8,
  veryDark: #018496,
  white: #e1f0f1,
  button: #ebf1f1,
);


/* ======================= Needed for sticky footer =========================== */

html, body {
  height: 100%;
  margin: 0;
}

body {
  font: 14px 'Noto Sans HK', sans-serif;
  position: relative;
  height: auto;
}

a {
  // // color: map-get($colors, primary);
  // color: map-get($colors, primary);
  // background-color: green;
}

.parent-div{
  position: relative;
  top: 16vh;
}



/* ==========================================================================
                                Mobile View
============================================================================= */


@media (max-width:767px)  {

/* ======================= Signup & Login Page =========================== */
  .signup, .login {
    margin: 40px 0 40px 0;
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: non;
    border: 0.05px solid rgb(205, 211, 239);
    box-shadow: 0 0 3px rgb(205, 211, 239);
    border-radius: 3px; 
    font-size: 12px;
    color: map-get($colors, primary);
  }
}

/* ======================= Layout.hbs =========================== */

#sticky-header {
  background-color: map-get($colorPanthera, white);
  color: map-get($colorPanthera, dark);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: fixed;
  height: 8vh;
  top: 0vh;
  border-bottom: 1vh solid white;
  z-index: 10;
}

#sticky-footer {
  background-color: map-get($colorPanthera, white);;
  width: 90vw;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  align-content: space-between;
  height: 5vh;
  top:95vh;
  margin: 0 5vw 0 5vw;
  border-radius: 3px;
}

#sticky-footer img {
  height: 3vh;
  width: auto;
  padding: 2.5vw 7vw 0 7vw;
}

.profilePicture {
  border-radius: 50%;
}

/* ======================= home.hbs =========================== */
.main-nav {
  background-color: map-get($colorPanthera, white);
  color: map-get($colorPanthera, dark);
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  text-transform: uppercase;
  position: fixed;
  height: 5vh;
  top: 9vh;
  border-bottom: 1vh solid white;
  z-index: 10;
}

.main-nav img {
  height: 3vh;
  width: auto;
  padding: 2.5vw 5vw 0 5vw;
}

// .main-content-wrapper {
//   position: relative;
//   top: 15vh;
//   margin-left: 1vw;
//   display: flex;
//   flex-direction: row;
//   overflow-x: scroll;
//   justify-content: flex-start;
//   align-items: space-between;
// }

/* ======================= mainPartial.hbs =========================== */
.content-container {
  display: flex;
  flex-direction: row;
  width: 50vw;
  margin: 0 5vw;
  border: 1px solid #e1f0f1;
  border-radius: 3px;
  box-shadow: 0 0 3px #e1f0f1;
}

.content-image img {
  height: 10vh;
  width: 10vh;
  object-fit: contain;
}

.content-description {
  padding-left: 2vw;
}

/* ================================= Interests Bar ==================================== */

.interests-bar {
  margin: 3vw 0 2vw 1vw;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: flex-start;
  align-items: space-between;
}
.interest-btn-all {
  border: none;
  border-radius: 3px;
  border: 0.4px solid map-get($colorPanthera, primary);
  width: auto;
  height: auto;
  padding: 0 2vw;
  margin: 0 2vw;
  color: map-get($colorPanthera, primary);
  background-color: map-get($colorPanthera, button);
  font-size: 12px;
}

.interest-btn {
  border:none;
  // border-radius: 3px;
  border-radius: 3px;
  border: 0.4px solid map-get($colorPanthera, primary);
  width: auto;
  height: auto;
  padding: 1vw 2vw;
  margin: 0 2vw;
  color: map-get($colorPanthera, primary);
  background-color: map-get($colorPanthera, button);
  font-size: 12px;
}

/* ==================================== Video Section =========================================== */

.video-header {
  color: map-get($colorPanthera, dark);
  margin: 10px 0 10px 20px;
  position: relative;
  font-size: 16px;
 }

.video-content-wrapper {
  margin-left: 1vw;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: flex-start;
  align-items: space-between;
}

.content-video {
  display: flex;
  flex-direction: column;
  min-width: 90vw;
  margin: 0 5vw;
  border: 1px solid #e1f0f1;
  border-radius: 3px;
  box-shadow: 0 0 3px #e1f0f1;
}

.content-video iframe {
  height: auto;
  width: 80vw;
  object-fit: contain;
  align-self: center;
}

/* ================================= Reading Section ==================================== */

.reading-content-wrapper {
  margin: 3vw 0 2vw 1vw;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: flex-start;
  align-items: space-between;
}

.reading-header {
  color: map-get($colorPanthera, dark);
  margin: 10px 0 0px 20px;
  position: relative;
  font-size: 16px;
 }

 .postRSSdiv {
  width: 400px;
}

.postRSSdiv img {
  width: 400px;
}

.articlefeed {
  // padding: 5px;
  position: relative;
  min-width: 90vw;
  border-bottom: solid 1px gray;
  margin: 0px 10px 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.articlefeed p {
  text-align: justify;
  margin: 10px 0;
}

.publisher {
  width:100%;
 text-align: right;
  margin: 0;
  height: 40px;
}

.articlefeed img {
  border-radius: 10px;
  object-fit: cover;
  width:100%;
  height: 30%;

}

.articlefeed h4 {
  color: map-get($colorPanthera, veryDark );
  font-size: 14px;
  margin: 5px 0;
  height: 60px;
}

.cover{
  border-radius: 10px;
  object-fit: cover;
  width:100%;
  height: 30%;
}



