/* ==========================================================================
                                General Styling
============================================================================= */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK:300,400,500,700&display=swap");
/* ======================= Color Scheme =========================== */
/* ======================= Needed for sticky footer =========================== */
html, body {
  height: 100%;
  margin: 0; }

body {
  font: 14px 'Noto Sans HK', sans-serif;
  position: relative;
  height: 100%; }

.parent-div {
  position: relative;
  top: 16vh; }

/* ==========================================================================
                                Mobile View
============================================================================= */
@media (max-width: 767px) {
  /* ======================= Nav on Login & Sign Up Page =========================== */
  .nav-start-header {
    background-color: #ff867f;
    display: flex;
    flex-direction: row;
    width: 100%; }
  .dropdown img header img {
    width: 50px;
    height: auto;
    margin: 0px 0px 0px 0px;
    justify-content: left;
    align-self: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: 15px; }
  .dropbtn {
    background-color: rgba(179, 218, 217, 0);
    box-shadow: 0 0 0 0;
    color: rgba(255, 255, 255, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: auto; }
  .dropbtn:focus, .dropbtn:active, .dropbtnactive, .dropbtn:focus:active {
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .dropdown {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px; }
  .dropdown-content {
    display: none;
    min-width: 80px;
    z-index: 1;
    left: 0px;
    border-radius: 5px; }
  .dropdown-content a {
    color: #fffdee;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    margin: 0; }
  .dropdown-content a:hover {
    background-color: #b3dad9; }
  .dropdown:hover .dropdown-content {
    display: flex; }
  .dropdown:hover .dropbtn {
    background-color: none; }
  /* ================================= Login Content ========================================== */
  .page-content {
    height: 100%; }
  .login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .login-box h2 {
    color: white; }
  .signup, .login {
    border: 1px solid #ff5252;
    border-radius: 3px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    height: 100%;
    background-color: #ff867f; }
  #form-container {
    margin: 15vh 0 5vh 0;
    border-radius: 5px;
    padding: 10px 10px 0 10px;
    color: white;
    background-color: #ff5252;
    display: flex;
    flex-direction: column;
    justify-content: flex start;
    align-items: center; }
  #form-container input {
    border: none;
    border-radius: 3px;
    width: 30vw;
    color: #c50e29;
    padding-left: 8px; }
  .login-btn {
    background: #c50e29c5;
    color: white;
    text-decoration: none;
    padding: 1.5vh 2vh;
    border-radius: 3px;
    border: none;
    align-self: center;
    margin-top: 10px; }
  .fb-btn {
    background-color: white;
    color: #2979ff;
    text-decoration: none;
    padding: 1vh 2vh;
    border-radius: 3px;
    margin-left: 20px;
    font-size: 12px; }
  .social-login {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .social-login img {
    object-fit: contain;
    width: 30px;
    height: auto; }
  .username, .password {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: space-evenly;
    width: 100%; }
  .username input {
    background-color: white;
    margin-left: 20px;
    color: #c50e29; }
  .username input::placeholder {
    background-color: white;
    margin-left: 20px;
    color: #c50e29; }
  .password input {
    background-color: white;
    margin-left: 23px;
    color: #c50e29; }
  .account-message {
    text-align: center;
    align-self: center;
    color: #c50e29; }
  .account-message a {
    text-align: center;
    align-self: center;
    color: #ff5252;
    text-decoration: none;
    padding: 5px;
    border: 0.5px solid #ff5252;
    border-radius: 3px;
    font-size: 10px; }
  .emphasis {
    margin: 0 2vw;
    background-color: white;
    color: #0095a8;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  /* ======================= Layout.hbs =========================== */
  #sticky-header {
    background-color: #e1f0f1;
    color: #0095a8;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    height: 8vh;
    top: 0vh;
    border-bottom: 1vh solid white;
    z-index: 10; }
  #sticky-footer {
    background-color: #e1f0f1;
    width: 90vw;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    align-content: space-between;
    height: 5vh;
    top: 95vh;
    margin: 0 5vw 0 5vw;
    border-radius: 3px; }
  #sticky-footer img {
    height: 3vh;
    width: auto;
    padding: 2.5vw 7vw 0 7vw; }
  .profilePicture {
    border-radius: 50%; }
  /* ======================= home.hbs =========================== */
  .main-nav {
    background-color: #e1f0f1;
    color: #0095a8;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    text-transform: uppercase;
    position: fixed;
    height: 5vh;
    top: 9vh;
    border-bottom: 1vh solid white;
    z-index: 10; }
  .main-nav img {
    height: 3vh;
    width: auto;
    padding: 2.5vw 5vw 0 5vw; }
  /* ======================= mainPartial.hbs =========================== */
  .content-container {
    display: flex;
    flex-direction: row;
    width: 50vw;
    margin: 0 5vw;
    border: 1px solid #e1f0f1;
    border-radius: 3px;
    box-shadow: 0 0 3px #e1f0f1; }
  .content-image img {
    height: 10vh;
    width: 10vh;
    object-fit: contain; }
  .content-description {
    padding-left: 2vw; }
  /* ================================= Interests Bar ==================================== */
  .interests-bar {
    margin: 0vw 0 2vw 1vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: space-between; }
  .interest-btn-all {
    border: none;
    border-radius: 3px;
    border: 0.4px solid #26c6da;
    width: auto;
    height: auto;
    padding: 0 2vw;
    margin: 0 2vw;
    color: #26c6da;
    background-color: #ebf1f1;
    font-size: 12px; }
  .interest-btn {
    border: none;
    border-radius: 3px;
    border: 0.4px solid #26c6da;
    width: auto;
    height: auto;
    padding: 1vw 2vw;
    margin: 0 2vw;
    color: #26c6da;
    background-color: #ebf1f1;
    font-size: 12px; }
  /* ================================= Listening Section ==================================== */
  .listening-header {
    color: #0095a8;
    margin: 10px 0 10px 20px;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 0.5px solid #0095a8; }
  .listening-content-wrapper {
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: space-between; }
  .listening-head {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    align-content: stretch;
    width: 100%;
    object-fit: contain; }
  .listening-head img {
    width: 20px;
    height: auto;
    object-fit: contain;
    padding-left: 30vw; }
  /* ==================================== Video Section =========================================== */
  .video-header {
    color: #0095a8;
    margin: 10px 0 10px 20px;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 0.5px solid #0095a8; }
  .video-content-wrapper {
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: space-between; }
  .content-video {
    display: flex;
    flex-direction: column;
    min-width: 90vw;
    margin: 0 5vw;
    border: 1px solid #e1f0f1;
    border-radius: 3px;
    box-shadow: 0 0 3px #e1f0f1; }
  .content-video iframe {
    height: auto;
    width: 80vw;
    object-fit: contain;
    align-self: center; }
  /* ================================= Reading Section ==================================== */
  .reading-content-wrapper {
    margin: 3vw 0 2vw 1vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: space-between; }
  .reading-header {
    color: #0095a8;
    margin: 10px 0 0px 20px;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 0.5px solid #0095a8; }
  .postRSSdiv {
    width: 400px; }
  .postRSSdiv img {
    width: 400px; }
  .articlefeed {
    position: relative;
    min-width: 90vw;
    border-bottom: solid 1px gray;
    margin: 0px 10px 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; }
  .articlefeed p {
    text-align: justify;
    margin: 10px 0; }
  .publisher {
    width: 100%;
    text-align: right;
    margin: 0;
    height: 40px; }
  .articlefeed img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 30%; }
  .articlefeed h4 {
    color: #018496;
    font-size: 16px;
    margin: 5px 0;
    height: 60px;
    position: relative; }
  .cover {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 30%; }
  .community-icons {
    z-index: 11;
    position: relative;
    right: 10px;
    top: 2vh;
    width: 30vw;
    margin-left: 80vw;
    display: flex;
    flex-direction: column; }
  .community-icons img {
    width: 20px;
    height: auto; }
  /* ======================================= Slider Effect ===================================== */
  /* ======================================= Search ===================================== */
  .search-input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; }
  .search-input input {
    border: 1px solid #0095a8;
    border-radius: 3px;
    height: 20px; }
  .search-input img {
    height: 40px; } }

/*# sourceMappingURL=style.css.map */